//
// Variables
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Theme.
//---------------------------------------------------

// Grayscale
$gray-darker:            #374250;
$gray-dark:            	 #606975;
$gray:                   #9da9b9;
$gray-light:             #e1e7ec;
$gray-lighter:           #f5f5f5;
$white-color:            #ffffff;
$black-color:            #000000;
