div(class="jumbotron")
    h1(class="display-4") Grunt - PUG/SCSS 
    p(class="lead").
        Well managed Open-Source codebase for you.
    hr(class="my-4")
    p.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eos deserunt amet modi repudiandae.
    br
    a(class="btn btn-primary btn-lg" href="https://sajidullah.com/contact-us/" role="button").mr-2.
        Contact me
    a(class="btn btn-success btn-lg" href="https://www.upwork.com/fl/nekores" role="button").
        Hire me!